@model List<CRUDEXAM.Models.Categorium>
@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="card">
    <div class="card-header">
        <h5>Categorias</h5>
    </div>
    <div class="card-body">
        <a class="btn btn-success bt-sm" asp-action="Categorium_Detalle" asp-controller="Home" asp-route-idCategoria="0">Crear Nuevo</a>
        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id De la CATEGORIA</th>
                    <th>Nombre Categoria</th>
                    <th>Descripcion de Categoria</th>
                    <th>Fecha de Creacion</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.IdCategoria</td>
                        <td>@item.NombreCat</td>
                        <td>@item.DescripcionCat</td>
                        <td>@item.FechaCreacionCat</td>
                        <td>
                            <a class="btn btn-primary btn-sm" asp-action="Categorium_Detalle" asp-controller="Home" asp-route-idCategoria="@item.IdCategoria">Editar</a>
                            <a class="btn btn-danger btn-sm" asp-action="Eliminar" asp-controller="Home" asp-route-idCategoria="@item.IdCategoria">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
